/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@import "./normalize.css";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

body {
  margin: 0 auto;
  font-family: "Roboto", serif;
}

@font-face {
  font-family: "Playfair";
  src: url("../fonts/playfair-400-normal.woff2"), url("../fonts/playfair-400-normal.woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Playfair";
  src: url("../fonts/playfair-500-normal.woff2"), url("../fonts/playfair-500-normal.woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Playfair";
  src: url("../fonts/playfair-700-normal.woff2"), url("../fonts/playfair-700-normal.woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Playfair";
  src: url("../fonts/playfair-900-normal.woff2"), url("../fonts/playfair-900-normal.woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
.main-header {
  margin: 0 auto;
  margin-top: 73px;
  min-width: 1190px;
  padding: 0 10px;
  padding-bottom: 47px;
  text-align: center;
}

.main-header__nav {
  margin: 0 auto;
  margin-top: 44px;
}

.nav__list {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__link {
  color: #000000;
  font-family: "Roboto", serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
}
.nav__link:hover {
  color: #ff7931;
}

.intro {
  background-image: url("../img/hotel.jpg");
  background-color: #2a4888;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-bottom: 44px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  .intro {
    background-image: url("../img/hotel@2x.jpg");
  }
}

.intro__button {
  position: relative;
  background-color: #ff7931;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: inline-block;
  vertical-align: top;
  margin-top: 46px;
}
.intro__button::after {
  content: "";
  position: absolute;
  background-image: url("../img/button-icon.svg");
  width: 27px;
  height: 18px;
  top: 16px;
  right: 13px;
}

.intro__title {
  color: #ffffff;
  font-size: 72px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 31px;
}

.intro__desc {
  margin: 0 auto;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 131px;
  max-width: 445px;
}

.reviews {
  text-align: center;
  padding-bottom: 28px;
}

.reviews__title {
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 43px;
}

.reviews__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1167px;
  padding: 0;
  margin: 0 auto;
}

.review__wrapper {
  max-width: 370px;
  text-align: left;
}

.review__image {
  margin-top: 6px;
}
.review__image[src="img/review-1.jpg"] {
  background-color: #82775d;
}
.review__image[src="img/review-2.jpg"] {
  background-color: #4c4b53;
}
.review__image[src="img/review-3.jpg"] {
  background-color: #7c839f;
}

.review__title {
  margin: 0;
  margin-top: 16px;
}

.review__link {
  color: #000000;
  text-decoration: none;
  font-family: "Playfair", "Roboto", serif;
  font-size: 23px;
  font-weight: 900;
}
.review__link:hover {
  color: #ff7931;
}

.review__desc {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding-right: 22px;
  margin-top: 8px;
}

.subscription {
  text-align: center;
  background-color: #ffffff;
  position: relative;
  z-index: -1;
  padding-bottom: 47px;
  padding-top: 5px;
  margin-bottom: 39px;
}
.subscription::after {
  position: absolute;
  content: "";
  width: 707px;
  height: 707px;
  background-color: #ffffff;
  border-radius: 50%;
  top: -66px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: -1;
}
.subscription::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 556px;
  background-color: #f7f7f7;
  z-index: -1;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.subscription__title {
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 2px;
  padding-top: 26px;
}

.subscription__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  max-width: 370px;
  margin-top: 35px;
}

.subscription__button {
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #ff7931;
  margin-top: 48px;
  display: inline-block;
  vertical-align: top;
  padding: 17px 60px 16px 30px;
  position: relative;
  cursor: pointer;
}
.subscription__button::after {
  content: "";
  position: absolute;
  background-image: url("../img/shape-icon.svg");
  width: 16px;
  height: 16px;
  right: 33px;
  top: 15px;
}

.event:not(:last-child) {
  margin-bottom: 47px;
}

.event__title {
  color: #000000;
  font-family: "Playfair", "Roboto", serif;
  font-size: 23px;
  font-weight: 900;
  margin: 0;
}

.event__desc {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
  margin-top: 8px;
}

.main-footer {
  text-align: center;
  background-color: #575757;
  padding-top: 36px;
  padding-bottom: 47px;
}

.main-footer__wrapper {
  margin-top: 28px;
}

.main-footer__list {
  position: relative;
  padding-bottom: 47px;
}
.main-footer__list::after {
  position: absolute;
  content: "";
  width: 1170px;
  height: 2px;
  border: 1px solid #ffffff;
  opacity: 0.4;
  bottom: 0;
}

.main-footer__list .nav__link {
  color: #ffffff;
}
.main-footer__list .nav__link:hover {
  color: #ff7931;
}

.main-footer__social {
  margin: 0;
  padding: 0;
}

.social {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 41px;
}

.social__item:not(:last-child) {
  margin-right: 14px;
}

.social__link {
  width: 47px;
  height: 47px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social__link:hover {
  background-color: #ff7931;
}
